.container {
  padding: 30px 15px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 45px 40px;
  }

  @media (min-width: $desktop) {
    padding: 55px 60px;
  }

  @media (min-width: $laptop) {
    padding: 65px 150px;
  }
}