@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansNovaDeco.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Sofia Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 20px;
  min-width: 360px;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 23px;
  }

  @media (min-width: $desktop) {
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: $laptop) {
    font-size: 30px;
    line-height: 35px;
  }
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}