@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansNovaDeco.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Sofia Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 20px;
  min-width: 375px;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 23px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $laptop) {
    font-size: 30px;
    line-height: 35px;
  }
}

h2 {
  font-family: $decorTitle;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 1px;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  border-radius: 20px;

  @media (min-width: $tablet) {
    font-size: 48px;
    line-height: 51px;
  }

  @media (min-width: $desktop) {
    font-size: 58px;
    line-height: 61px;
  }

  @media (min-width: $laptop) {
    font-size: 67px;
    line-height: 70px;
  }
}

h3 {
  font-size: 25px;
  line-height: 28px;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 33px;
  }

  @media (min-width: $desktop) {
    font-size: 32px;
    line-height: 35px;
  }

  @media (min-width: $laptop) {
    font-size: 39px;
    line-height: 42px;
  }
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}