// Цвета
$black: black;
$lightBlack: #1f0f24;
$white: white;
$whitesmoke: whitesmoke;
$grey: grey;
$grey2: #e5e5e5;
$red: red;
$blueviolet: blueviolet;
$blue: blue;
$green: green;
$pink: pink;

// Дисплеи
$tablet: 768px;
$desktop: 1280px;