// Цвета

$black: black;
$lightBlack: #1f0f24;
$white: white;
$whitesmoke: whitesmoke;
$grey: grey;
$grey2: #e5e5e5;
$grey3: #949494;
$red: red;
$blueviolet: #8a2be2;
$blue: blue;
$green: green;
$green2: #73cc83;
$pink: #d606a2;
$gradient1: linear-gradient(47deg, #000000, #1b1b42, #000112);
$gradient2: linear-gradient(90deg, #8a2be2,#e20314);

// Шрифты

$decorTitle: 'Gill Sans', 'Arial', sans-serif;

// Дисплеи

$tablet: 768px;
$desktop: 1280px;
$laptop: 1920px;