// Цвета
$black: black;
$lightBlack: #1f0f24;
$white: white;
$whitesmoke: whitesmoke;
$grey: grey;
$grey2: #e5e5e5;
$grey3: #949494;
$red: red;
$blueviolet: blueviolet;
$blue: blue;
$green: green;
$pink: #d606a2;
// $gradient1: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,98,37,1) 0%, rgba(0,212,255,1) 100%);
// $gradient1: linear-gradient(47deg, #000000, #12122a, #000d60, #12122a);
$gradient1: linear-gradient(47deg, #000000, #1b1b42, #000112);

// Дисплеи
$tablet: 768px;
$desktop: 1280px;