.main-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $lightBlack;
  padding: 15px;
  left: 0;
  right: 0;
  z-index: 1;

  @media (min-width: $tablet) {
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    padding: 25px 80px;
  }

  @media (min-width: $laptop) {
    padding: 30px 100px;
  }
}

.main-nav__list {
  list-style: none;

  &--nav {
    text-align: center;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 10px;
    height: 80vh;
    background-color: $lightBlack;
    margin: 0;
    padding: 50px 0;
    transform: translateX(-100%);
    transition: 0.5s;

    @media (min-width: $tablet) {
      position: static;
      flex-direction: row;
      column-gap: 25px;
      height: min-content;
      padding: 0;
      transform: translateX(0);
    }

    @media (min-width: $desktop) {
      column-gap: 40px;
    }
  }

  &~.main-nav__menu-button {
    .main-nav__button-elem {
      &:nth-of-type(1) {
        animation: ease 0.5s topClose forwards;
      }

      &:nth-of-type(2) {
        animation: ease 0.5s mdlClose forwards;
      }

      &:nth-of-type(3) {
        animation: ease 0.5s btmClose forwards;
      }
    }
  }

  &--open {
    transform: translateX(0);

    &~.main-nav__menu-button {
      .main-nav__button-elem {
        &:nth-of-type(1) {
          animation: ease 0.5s topOpen forwards;
        }

        &:nth-of-type(2) {
          animation: ease 0.5s mdlOpen forwards;
        }

        &:nth-of-type(3) {
          animation: ease 0.5s btmOpen forwards;
        }
      }
    }
  }

  &--contact {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @media (min-width: $tablet) {
      align-items: center;
    }

    @media (min-width: $desktop) {
      flex-direction: row;
      column-gap: 25px;
    }
  }
}

.main-nav__link {
  text-decoration: none;
  color: $whitesmoke;
  width: 100%;
  transition: 0.5s;

  &:hover {
    color: $lightBlack;
    background-color: $whitesmoke;
  }

  &--nav {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    &--active {
      color: $lightBlack;
      background-color: $whitesmoke;
    }

    @media (min-width: $tablet) {
      font-size: 18px;
      line-height: 21px;
      position: relative;
      height: auto;

      &:hover {
        color: $whitesmoke;
        background-color: transparent;
  
        &::before {
          content: "";
          position: absolute;
          top: -5px;
          background-color: $whitesmoke;
          width: 100%;
          height: 1px;
        }
  
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          background-color: $whitesmoke;
          width: 100%;
          height: 1px;
        }
      }

      &--active {
        color: $whitesmoke;
        background-color: transparent;

        &::before {
          content: "";
          position: absolute;
          top: -5px;
          background-color: $whitesmoke;
          width: 100%;
          height: 1px;
        }
  
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          background-color: $whitesmoke;
          width: 100%;
          height: 1px;
        }
      }
    }

    @media (min-width: $desktop) {
      font-size: 21px;
      line-height: 24px;
    }
  }

  &--contact {
    padding: 3px 8px;
    color: $lightBlack;
    background-color: $whitesmoke;
    border-radius: 20px;

    &:hover {
      opacity: 0.5;
    }

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 19px;
      padding: 3px 10px;
    }

    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 23px;
      padding: 5px 12px;
    }
  }
}

.main-nav__logo {
  display: block;
  width: 110px;
  height: 60px;
  background-image: url("../icons/logo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0%;
  order: 1;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: $desktop) {
    width: 140px;
    height: 55px;
  }
}

.main-nav__menu-button {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  background-color: transparent;
  width: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  order: 1;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__button-elem {
  position: relative;
  display: block;
  background-color: $whitesmoke;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}